@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

/* reset */
body,div,ul,h1,p{margin:0;padding:0;}
h1{font-size:100%;}

body{
	font: 20px 'Noto Sans JP', Arial, Verdana, 游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
	font-weight: 300;
	-webkit-text-size-adjust:100%;
	overflow-x: hidden;
	color: #000;
	background: #EEEEEE;
}

a{
	color: #0066ff;
	text-decoration: none;
}

a:hover, .active{
  text-decoration: underline;
}

/* ヘッダー
------------------------------------------------------------*/
#header{
	text-align: center;
	width: 1300px;
	margin: 0 auto 0;
}

#header h1{
	padding-top: 10px;
}

#mainnav a{
	color: #000;
}

#mainImg{
  width: 100%;
  height: 600px;
  text-align : center;
}

#mainImg img{
  width: 800px;
  height: 100%;
}

#mainManual{
margin: 0 auto 0;
  width: 1300px;
  background-color: white;
}

/* フッター
------------------------------------------------------------*/
#footer{
	clear: both;
	padding: 50px 10px 50px 0;
	text-align: center;
	font-size: 12px;

}

/* コンテンツ一覧
------------------------------------------------------------*/
#heading {
	position: relative;
	display: flex;
	align-items: center;
	border-bottom: medium solid #ccc;
	background-color: #DDDDDD;
}
#all {
	display: flex;
	align-items: center;
	border-bottom: medium solid #ccc;
}
#check{
	width: 2%;
}
#contents {
	position: relative;
	display: flex;
	align-items: center;
	padding: 10px;
	width: 98%;
}
#thumbnail img{
	max-width: 280px;
	padding: 10px 0px 0px 10px;
}
#thumbnail{
	width: 40%;
}
#embedded_thumbnail_view{
	width: 40%;
}
#title{
	width: 30%;
}
#updated{
	width: 15%;
}
#user{
	width: 15%;
}
#contents a {
	position: absolute;
    height:100%;
    width: 100%;
}

/* マニュアル新規作成
------------------------------------------------------------*/
#manual_create, #signup, #login{
margin: 0 auto 0;
  width: 1300px;
  background-color: white;
}

#manual_create_header, #signup_header, #login_header{
	padding: 20px 0px 0px 20px;
}

#form_url {
	padding: 20px 0px 0px 20px;
}

#form_contents {
	padding: 20px 0px 0px 20px;
}

/* マニュアル詳細
------------------------------------------------------------*/
#detail_contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
#detail_title{
	width: 60%;
}
#detail_updated{
	width: 20%;
}
#detail_user{
	width: 20%;
}
#detail_manual{
	border: solid 1px gray;
	border-radius: 5px;
	width: 1260px;
	padding: 10px;
}
/* RESPONSIVE 設定
------------------------------------------------------------*/

@media only screen and (min-width: 800px){
	.panel{
		display:block !important;
	}


	#mainnav li{
		display: inline-block;
		padding: 20px 25px;
		font-size: 15px;
	}
	
    #footer{
		padding: 30px 10px 70px 0;
		width: 1300px;
		margin: 0 auto 0;	
	}
}

@media only screen and (max-width: 799px){
	#header{
		width: 100%;
	}
	
	#headerWrap{
		position: relative;
		width: 100%;
		height: 70px;
		background: #EEEEEE;
		border-bottom: 1px solid #ccc;
	}
	
	#header h1{
		padding-top: 10px;
	}
	
	#header h1 img{
		margin-top: 3px;
		max-height: 45px;
		width: auto !important;
	}

    a#menu{
  	display: inline-block;
  	position: relative;
  	width: 40px;
  	height: 40px;
  	margin: 10px;
	}

	#menuBtn{
  	display: block;
  	position: absolute;
  	top: 60%;
  	left: 50%;
  	width: 18px;
  	height: 2px;
  	margin: -1px 0 0 -7px;
  	background: #000;
  	transition: .2s;
	}

	#menuBtn:before, #menuBtn:after{
  	display: block;
  	content: "";
  	position: absolute;
  	top: 50%;
  	left: 0;
  	width: 18px;
  	height: 2px;
  	background: #000;
  	transition: .3s;
	}

	#menuBtn:before{
  	margin-top: -7px;
	}

	#menuBtn:after{
  	margin-top: 5px;
	}

	a#menu .close{
  	background: transparent;
	}

	a#menu .close:before, a#menu .close:after{
  	margin-top: 0;
	}

	a#menu .close:before{
  	transform: rotate(-45deg);
  	-webkit-transform: rotate(-45deg);
	}

	a#menu .close:after{
  	transform: rotate(-135deg);
  	-webkit-transform: rotate(-135deg);
	}

	.panel{
		width: 100%;
		display: none;
		overflow: hidden;
		position: relative;
		left: 0;
		top: 0;
		z-index: 100;
	}

	#mainnav{
		position: absolute;
		top: 0;
		width: 100%;
		text-align: right;
		z-index:500;
	}

	#mainnav ul{
		border-bottom: 1px solid #ccc;
		background: #fff;
		text-align: left;
	}

	#mainnav li a{
		position: relative;
		display:block;
		padding:15px 25px;
		border-bottom: 1px solid #ccc;
		color: #000;
		font-weight: 400;
	}

	#mainnav li a:before{
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		left: 5px;
		width: 6px;
		height: 6px;
		margin: -4px 0 0 0;
		border-top: solid 2px #000;
		border-right: solid 2px #000;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	#mainImg{
		padding-top: 60px;
		z-index: -100;
	}
	#mainManual{
		width: 100%;
	}



}	
}

